.square {
    width: 50vw;
    height: 37vw;
    position: relative;
    border: 5px solid red;
    margin-right: 25px;
    display: flex;
}

.square:after {
    display: block;
    padding-bottom: 100%;
}

.container {
    display: flex;
    flex-flow: column;
}

.header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

.para {
    width: 55%;
    text-align: center;
    font-size: larger;
    line-height: 30px;
}

.body {
    display: flex;
    padding-bottom: 30px;
}

.hud {
    flex: 1 1 100%;
    display: flex;
    flex-flow: column;
    row-gap: 50px;
    margin-top: 40px;
}

.color,
.color-select,
.black-select,
.rainbow,
.eraser,
.clear {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color {
    padding-left: 25px;
}

.color-square {
    border: 1px solid black;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.color-mode,
.black-mode,
.rainbow-mode,
.eraser-mode,
.clear-mode {
    border: 2px solid black;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: bolder;
}

.color-mode {
    background: linear-gradient(111.1deg, rgb(0, 40, 70) -4.8%, rgb(255, 115, 115) 82.7%, rgb(255, 175, 123) 97.2%);
}

.black-mode {
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
}

.eraser-mode {
    color: black;
    background: pink;
}

.clear-mode {
    color: black;
    background: white;
}

.rainbow-mode {
    color: black;
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}

input:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.main {
    display: flex;
    flex-flow: column;
}

.grid {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 35px;
    margin-top: 25px;
}


/* Slider CSS */
.slidecontainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 12px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

  #demo {
    margin-top: 20px;
    margin-bottom: 10px;
  }
/* End of slider */

/* Grid Pad CSS */
.grid-row {
    text-align: center;
}

.grid-row:hover {
    background-color: gold;
    opacity: 0.15;
}

.grid-column {
    flex: 1;
}
