.square {
    width: 900px;
    height: 600px;
    position: relative;
    border: 5px solid red;
    margin-right: 25px;
}

.square:after {
    display: block;
    padding-bottom: 100%;
}

.container {
    display: flex;
    flex-flow: column;
}

.header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

.para {
    width: 55%;
    text-align: center;
    font-size: larger;
    line-height: 30px;
}

.body {
    display: flex;
}

.hud {
    flex: 1 1 100%;
    display: flex;
    flex-flow: column;
    row-gap: 30px;
    margin-top: 40px;
}

.color,
.color-select,
.black-select,
.rainbow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-square {
    border: 1px solid black;
    width: 75px;
    height: 75px;
    border-radius: 10px;
}

.colortemp,
.blacktemp,
.rainbowtemp {
    border: 1px solid black;
    width: 200px;
    height: 75px;
}

.main {
    display: flex;
    flex-flow: column;
}

.grid {
    display:flex;
    justify-content: center;
    align-items: center;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.slidetemp {
    border: 1px solid black;
    width: 500px;
    height: 100px;
}